html, body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #eee9db;
  font-family: "Oxygen", "Trebuchet MS", Arial, sans-serif;
  font-size: 100%;
  color: #41392f;
  position: relative;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

h1.title {
	font-size: 3em;
	display: inline-block;
	margin-right: 1em;
}

h1 {
	font-size: 2.25em;
	margin-bottom: .75em;
}

.subheading {
	margin-top: -1.25em;
}

/* Players flex container */
.players {
	max-width: 960px;
	margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
	justify-content: center;

}

.players section {
	margin: 1.5rem;
	flex: 0 0 380px;
	padding: 15px;
	background-color: #f3efe5;
  border: 2px solid #69ba5e;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 979px) {
	.players section {
		flex: 1 0 380px;
		max-width: 500px;
	}
}

.players section .button {
	margin: .25em;
}

/* Buttons */
.button {
  padding: 10px 23px;
  border-radius: 5px;
  border: 2px solid #69ba5e;
  background-color:transparent;
  color: #69ba5e;
  font-size: 1.375em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
}
.full {
  color: #fff;
  background-color: #69ba5e;
}
.button:hover {
  color: #fff;
  background-color: #58a34d;
  border: 2px solid #58a34d;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Github Link */
.github-btn {
  background: url('../images/github.svg') no-repeat;
  width: 38px;
  height: 38px;
  top: 1.5em;
  right: 1.5em;
  position: absolute;
  opacity: 0.8;
  display: block;
  text-decoration: none;
  transition: opacity .15s ease-in-out;
}
.github-btn:hover {
  opacity: 1;
}
